<div>
    <ui-view />
</div>



<!-- Modal Alerta -->
<div class="modal fade" id="modalAlerta" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalAlertaLabel">{{tituloMsgAlerta}}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-{{tipoMsgAlerta}}" role="alert">{{msgAlertaLinha1}}<br>{{msgAlertaLinha2}}</div>
            </div>
        </div>
    </div>
</div>

<!-- Overlay -->
<div id="overlay" class="loading">Loading&#8230;</div>