<!-- Mensagem de Erro -->
<div class="alert alert-danger" role="alert" ng-show="flagErro">
    <span ng-bind-html="msgErro"></span>
</div>

<!-- Mensagem de Envio de senha recuperada -->
<div class="alert alert-success" role="alert" ng-show="flagSucesso">
    <span ng-bind-html="msgSucesso"></span>
</div>

<!-- Filtros -->
<br />
<form class="form-inline">
    <div class="form-group">
        <label for="filtroNumero">Número</label>
        <br />
        <input id="filtroNumero" class="form-control" ng-model="filtro.numero" type="text" placeholder="Número da Inscrição">
    </div>
    <div class="form-group">
        <label for="filtroNome">Nome</label>
        <br />
        <input id="filtroNome" class="form-control" ng-model="filtro.nome" type="text" placeholder="Nome do Participante">
    </div>
    <div class="form-group">
        <label for="filtroCategoria">Categoria</label>
        <br />
        <select id="filtroCategoria" class="form-control" ng-model="filtro.categoria" >
            <option value="">Categoria</option>
            <option value="1">Sócio SCEPD</option>
            <option value="2">Sócio SBRO</option>
            <option value="3">Profissional (CD)</option>
            <option value="5">Profissional (TPD)</option>
            <option value="4">Acadêmico</option>
            <option value="93">Cortesia CD</option>
            <option value="95">Cortesia TPD</option>
            <option value="94">Cortesia Acadêmico</option>
            <option value="92">Cortesia SBRO</option>
        </select>
    </div>
    <div class="form-group">
        <label for="filtroSituacao">Situação do Pagamento</label>
        <br />
        <select id="filtroSituacao" class="form-control" ng-model="filtro.situacao" >
            <option value="">Situação do Pagamento</option>
            <option value="1">Aguardando pagamento</option>
            <option value="2">Em análise</option>
            <option value="3">Paga</option>
            <option value="4">Disponível</option>
            <option value="5">Em disputa</option>
            <option value="6">Devolvida</option>
            <option value="7">Cancelada</option>
            <option value="8">Debitado</option>
            <option value="9">Retenção temporária</option>
            <option value="99">Sem transaçao efetuada</option>
        </select>
    </div>
    <div class="form-group">
        <label for="filtroFormaPgto">Forma de Pagamento</label>
        <br />
        <select id="filtroFormaPgto" class="form-control" ng-model="filtro.formaPgto" >
            <option value="">Forma de Pagamento</option>
            <option value="1">Cartão de Crédito</option>
            <option value="2">Boleto Bancário</option>
            <option value="8">Dinheiro ou Cheque</option>
            <option value="9">Sem transação de Pagamento</option>
        </select>
    </div>
</form>
<br />

<p>
    <button class="btn-meeting" ng-click="propertyName = null; reverse = false">Redefinir ordenação</button>
    &nbsp;
    <button class="btn-meeting" ng-click="limparFiltros()">Limpar filtros</button>
    &nbsp;
    <button class="btn-meeting" ng-click="atualizaListaParticipantes()">Atualizar Lista</button>
</p>
<hr />
<p class="textoFullLeft">Exibindo <strong>{{resultado.length}}</strong> inscrições de um total de <strong>{{participantes.length}}</strong>.</p>
<div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th ng-if="campo.numero">
                        <a ng-click="sortBy('id')">Número</a>
                        <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-if="campo.nome">
                        <a ng-click="sortBy('nome')">Nome</a>
                        <span class="sortorder" ng-show="propertyName === 'nome'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-if="campo.email">E-mail</th>
                    <th ng-if="campo.categoria">Categoria</th>
                    <th ng-if="campo.telefone">Telefone</th>
                    <th ng-if="campo.logradouro">Logradouro</th>
                    <th ng-if="campo.numero">Número</th>
                    <th ng-if="campo.complemento">Complemento</th>
                    <th ng-if="campo.bairro">Bairro</th>
                    <th ng-if="campo.cidade">Cidade</th>
                    <th ng-if="campo.estado">Estado</th>
                    <th ng-if="campo.cep">CEP</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="participante in participantes | orderBy:propertyName:reverse | filter: ({  id: filtro.numero, nome: filtro.nome, categoria: filtro.categoria}) as resultado">
                    <th scope="row" ng-if="campo.id">{{participante.id}}</th>
                    <td ng-if="campo.nome">{{participante.nome}}</td>
                    <td ng-if="campo.email">{{participante.email}}</td>
                    <td ng-if="campo.categoria">{{getCategoria(participante.categoria)}}</td>
                    <td ng-if="campo.telefone">{{participante.telefone}}</td>
                    <td ng-if="campo.logradouro">{{participante.endereco.logradouroCompleto}}</td>
                    <td ng-if="campo.numero">{{participante.endereco.numero}}</td>
                    <td ng-if="campo.complemento">{{participante.endereco.complemento}}</td>
                    <td ng-if="campo.bairro">{{participante.endereco.bairro}}</td>
                    <td ng-if="campo.cidade">{{participante.endereco.cidade}}</td>
                    <td ng-if="campo.estado">{{participante.endereco.estado}}</td>
                    <td ng-if="campo.cep">{{participante.endereco.cep}}</td>
                </tr>
            </tbody>
        </table>

        <p ng-show="resultado.length == 0">Nenhuma inscrição para os filtros selecionados.</p>

        <hr />
        <p ng-show="resultado.length > 0">Exibindo <strong>{{resultado.length}}</strong> inscrições de um total de <strong>{{participantes.length}}</strong>.</p>
    </div>
</div>
