<!-- Mensagem de Erro -->
<div class="alert alert-danger" role="alert" ng-show="flagErro">
    <span ng-bind-html="msgErro"></span>
</div>

<div class="alert alert-success" role="alert" ng-show="flagSucesso">
    <span ng-bind-html="msgSucesso"></span>
</div>
<!-- -->

<!-- Filtros -->
<br />
<form class="form-inline">
    <div class="form-group">
        <label for="filtroNomeGrupo">Filtro</label>
        <br />
        <input id="filtroNomeGrupo" class="form-control" ng-model="filtro.nomeGrupo" type="text" placeholder="Nome do Grupo">
    </div>
</form>
<br />
<p>
    <button class="btn-meeting" ng-click="criarNovoGrupo()">Criar novo grupo</button>

    <button class="btn-meeting" ng-click="propertyName = null; reverse = false">Redefinir ordenação</button>
    &nbsp;
    <button class="btn-meeting" ng-click="limparFiltros()">Limpar filtros</button>
</p>
<hr />
<p class="textoFullLeft">Exibindo <strong>{{resultado.length}}</strong> grupos de um total de <strong>{{grupos.length}}</strong>.</p>
<div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <a ng-click="sortBy('id')">Nome do Grupo</a>
                    <span class="sortorder" ng-show="propertyName === 'nomeGrupo'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <a ng-click="sortBy('nome')">Administrador</a>
                    <span class="sortorder" ng-show="propertyName === 'administrador'" ng-class="{reverse: reverse}"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="grupo in grupos | orderBy:propertyName:reverse | filter: ({nome: filtro.nomeGrupo}) as resultado">
                <th scope="row">{{grupo.nome}}</th>
                <td>{{grupo.administrador.nome}} ({{grupo.administrador.id}})</td>
            </tr>
            </tbody>
        </table>

        <p ng-show="resultado.length == 0">Nenhum grupo para os filtros selecionados.</p>

        <hr />
        <p ng-show="resultado.length > 0">Exibindo <strong>{{resultado.length}}</strong> grupos de um total de <strong>{{grupos.length}}</strong>.</p>
    </div>
</div>


<!-- Modal Grupo - Novo -->
<div class="modal fade" id="modalGrupo" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">Novo Grupo</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default panel-mee">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" id="instituicao-lbl" for="instituicao">Nome do Grupo<span class="star">&nbsp;*</span></label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control input-lg" id="instituicao" ng-model="grupo.nome" size="50"/>
                                    <h6></h6>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" id="mes-lbl" for="administrador">Administrador<span class="star">&nbsp;*</span></label>
                                <div class="col-sm-6">
                                    <select ng-options="p as p.nome for p in participantes track by p.fbid"
                                            id="administrador" class="form-control" ng-model="grupo.administrador"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">&nbsp;</label>
                                <div class="col-sm-4">
                                    <button class="btn btn-meeting" ng-click="incluirGrupo()">
                                        Incluir o Grupo
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Participante do Grupo -->
<div class="modal fade" id="modalPagamento" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">Dados de Pagamento da Inscrição</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default panel-mee">
                    <div class="panel-body">

                        <div ng-show="detalhe.categoria == 1">
                            <p><strong>Categoria isenta de pagamento.</strong></p>
                        </div>

                        <div ng-show="detalhe.categoria > 90">
                            <p><strong>Cortesia concedida pela organização.</strong></p>
                        </div>

                        <div ng-show="!detalhe.transaction && detalhe.categoria != 1 && detalhe.categoria < 90">
                            <p><strong>Nenhuma Transação identificada.</strong></p>
                        </div>

                        <div ng-show="detalhe.transaction">
                            <p ng-show="boletoNaoPago()">
                                <a class="btn btn-meeting" href="{{detalhe.transaction.paymentLink}}" role="button" target="_blank">Abrir Boleto para Impressão</a>
                            </p>
                            <p>Data da transação<br /><strong>{{getDataPagamento(detalhe.transaction.date)}}</strong></p>
                            <p>Método de Pagamento<br /><strong>{{getMetodoTransacao(detalhe.transaction.paymentMethod.type, detalhe.transaction.installmentCount)}}</strong></p>
                            <p>Valor da transação<br /><strong>{{getValorTransacao(detalhe.transaction.grossAmount, participante.transaction.paymentMethod.type)}}</strong></p>
                            <p>Situação da transação<br /><strong>{{getStatusTransacao(detalhe.transaction.status)}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
