<div ng-show="!pagamento">

    <h3>Inscrição individual</h3>
    <form class="form-horizontal">
        <div class="form-group {{classeNome}} has-feedback">
            <label class="control-label col-sm-2" id="nome-lbl" for="nome">Nome<span class="star">&nbsp;*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control input-lg" id="nome" placeholder="Informe seu nome completo" size="50" 
                       ng-model="participante.nome"  ng-disabled="pagamento">
                <h6 class="msgErro">{{msgNome}}</h6>
                <span id="nomeStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeCPF}} has-feedback">
            <label class="control-label col-sm-2" id="nome-lbl" for="cpf">CPF<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" id="cpf" placeholder="Informe seu CPF" size="15" maxlength="14"
                            ng-model="participante.cpf" ng-keyup="validaFormatoCPF()" ng-blur="verificaCPF()" ng-focus="resetMsg('cpf')"
                           cpf-mask aria-describedby="a-cpf" ng-disabled="pagamento">
                    <span class="input-group-addon" id="a-cpf">
                        <span class="fa fa-check sucesso" aria-hidden="true" ng-show="cpfValido == 1"></span>
                        <span class="fa fa-times perigo" aria-hidden="true" ng-show="cpfValido == 2"></span>
                        <span class="fa" aria-hidden="true" ng-show="cpfValido == 0"></span>
                    </span>
                </div>
                <h6 class="msgErro">{{msgCPF}}</h6>
                <span id="cpfStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeEmail}} has-feedback">
            <label class="control-label col-sm-2" id="email-lbl" for="email">E-mail<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-lg" id="email" placeholder="Informe seu e-mail" size="25"  ng-focus="resetMsg('email')"
                       ng-model="participante.email" ng-disabled="pagamento">
                <h6 class="msgErro">{{msgEmail}}</h6>
                <span id="emailStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeTelefone}} has-feedback">
            <label class="control-label col-sm-2" id="telefone-lbl" for="telefone">Telefone<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" id="telefone" placeholder="Informe seu telefone" size="15" 
                            ng-model="participante.telefone"  ng-keyup="validaTelefone()" ng-focus="resetMsg('fone')"
                           phone-mask aria-describedby="a-tel" ng-disabled="pagamento">
                    <span class="input-group-addon" id="a-tel">
                        <span class="fa fa-check sucesso" aria-hidden="true" ng-show="telefoneValido == 1"></span>
                        <span class="fa fa-times perigo" aria-hidden="true" ng-show="telefoneValido == 2"></span>
                        <span class="fa" aria-hidden="true" ng-show="telefoneValido == 0"></span>
                    </span>
                </div>
                <h6 class="msgErro">{{msgTelefone}}</h6>
                <span id="telefoneStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeCategoria}} has-feedback">
            <label class="control-label col-sm-2" id="categoria-lbl" for="categoria">Categoria<span class="star">&nbsp;*</span></label>
            <div class="col-sm-4">
                <label><input type="radio" name="cat" ng-click="defineCategoria(1)" ng-disabled="pagamento" ng-disabled="pagamento"> Sócios SCEPD</label><br>
                <label><input type="radio" name="cat" ng-click="defineCategoria(2)" ng-disabled="pagamento"> Sócios SBRO</label><br>
                <label><input type="radio" name="cat" ng-click="defineCategoria(3)" ng-disabled="pagamento"> CD</label><br>
                <label><input type="radio" name="cat" ng-click="defineCategoria(5)" ng-disabled="pagamento"> TPD</label><br>
                <label><input type="radio" name="cat" ng-click="defineCategoria(4)" ng-disabled="pagamento"> Acadêmicos</label>
                <input type="hidden" name="categoria" id="categoria" value="0" ng-model="participante.categoria">
                <h6 class="msgErro">{{msgCategoria}}</h6>
                <span id="categoriaStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group" ng-show="mostrarCRO()">
            <label class="control-label col-sm-2" id="cro-lbl" for="cro">CRO</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-lg" id="cro" ng-model="participante.cro" size="50" ng-disabled="pagamento"/>
                <h6></h6>
            </div>
        </div>        

        <div class="form-group" ng-show="mostrarInstituicao()">
            <label class="control-label col-sm-2" id="instituicao-lbl" for="instituicao">Instituição</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-lg" id="instituicao" ng-model="participante.instituicao" size="50"
                        ng-disabled="pagamento"/>
                <h6></h6>
            </div>
        </div>        

        <div class="form-group {{classeCEP}} has-feedback">
            <label class="control-label col-sm-2" id="cep-lbl" for="cep">CEP<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" id="cep" placeholder="CEP" size="10" 
                           ng-model="participante.endereco.cep" ng-blur="buscaPorCEP()" ng-focus="resetMsg('cep')"
                            aria-describedby="a-cep" ng-disabled="pagamento">
                    <span class="input-group-addon" id="a-cep">
                        <span class="fa fa-search" aria-hidden="true" ng-show="buscandoCEP"></span>
                        <span class="fa fa-check sucesso" aria-hidden="true" ng-show="cepValido == 1 && !buscandoCEP"></span>
                        <span class="fa fa-times perigo" aria-hidden="true" ng-show="cepValido == 2 && !buscandoCEP"></span>
                    </span>
                </div>
                <h6 class="msgErro">{{msgCEP}}</h6>
                <span id="cepStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeLogradouro}} has-feedback">
            <label class="control-label col-sm-2" id="endereco-lbl" for="logradouroCompleto">Logradouro<span class="star">&nbsp;*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control input-lg" id="logradouroCompleto"  size="50"
                       ng-model="participante.endereco.logradouroCompleto" ng-focus="resetMsg('logradouro'); buscaPorCEP()" ng-disabled="pagamento"/>
                <h6 class="msgErro">{{msgLogradouro}}</h6>
                <span id="logradouroCompletoStatus" class="sr-only">(error)</span>
            </div>
        </div>


        <div class="form-group {{classeNumero}} has-feedback">
            <label class="control-label col-sm-2" id="numero-lbl" for="numero">Número<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-lg" id="numero" ng-model="participante.endereco.numero" size="5"
                        ng-disabled="pagamento" ng-focus="resetMsg('numero')"/>
                <h6 class="msgErro">{{msgNumero}}</h6>
                <span id="numeroStatus" class="sr-only">(error)</span>
            </div>
        </div>        

        <div class="form-group">
            <label class="control-label col-sm-2" id="complemento-lbl" for="complemento">Complemento</label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-lg" id="complemento" ng-model="participante.endereco.complemento" size="50"
                        ng-disabled="pagamento"/>
                <h6></h6>
            </div>
        </div>        

        <div class="form-group {{classeBairro}} has-feedback">
            <label class="control-label col-sm-2" id="bairro-lbl" for="bairro">Bairro<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
            <input type="text" class="form-control input-lg" id="bairro" ng-model="participante.endereco.bairro" size="15"
                    ng-disabled="pagamento" ng-focus="resetMsg('bairro')"/>
                <h6 class="msgErro">{{msgBairro}}</h6>
                <span id="bairroStatus" class="sr-only">(error)</span>
            </div>
        </div>        

        <div class="form-group {{classeCidade}} has-feedback">
            <label class="control-label col-sm-2" id="cidade-lbl" for="cidade">Cidade<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control input-lg" id="cidade" ng-model="participante.endereco.cidade" size="20"
                        ng-disabled="pagamento" ng-focus="resetMsg('cidade')"/>
                <h6 class="msgErro">{{msgCidade}}</h6>
                <span id="cidadeStatus" class="sr-only">(error)</span>
            </div>
        </div>        

        <div class="form-group {{classeEstado}} has-feedback">
            <label class="control-label col-sm-2" id="estado-lbl" for="estado">Estado<span class="star">&nbsp;*</span></label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-lg" id="estado" ng-model="participante.endereco.estado" size="2"
                        ng-disabled="pagamento" ng-focus="resetMsg('estado')"/>
                <h6 class="msgErro">{{msgEstado}}</h6>
                <span id="estadoStatus" class="sr-only">(error)</span>
            </div>
        </div>        

        <div class="form-group">
            <label class="control-label col-sm-2">&nbsp;</label>
            <div class="col-sm-2">
                <button class="btn btn-default" ng-click="enviarInscricao()" ng-disabled="pagamento">
                    Enviar Inscrição                    
                </button>
            </div>
        </div>        
    </form>
</div>
<div class="pagamento" ng-show="pagamento">
    <div>
        <span class="inscricaoOK">
            Sua Inscrição  foi recebida com sucesso!
            <br /><br />
            O número da sua inscrição é : <strong>{{participante.id}}</strong>
            <br />
            Categoria: {{descricaoCategoria[participante.categoria]}}
            <span ng-show="participante.categoria != 1">
                <br /><br />
                Utilize o botão abaixo para efetuar o pagamento com o PagSeguro.
                <br />&nbsp;
            </span>
        </span>
    </div>

    <!-- TODO: Substituir os botões abaixo pelo botão que leva à Meios de pagamento. -->

    <div ng-show="participante.categoria != 1">
        <div class="col-sm-2">
            <input type="image"
                   src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/205x30-pagar-roxo.gif"
                   ng-click="doPgto()"
                   alt="Pague com PagSeguro - é rápido, grátis e seguro!!!" />
        </div>
    </div>        
</div>
