<!-- Mensagem de Erro -->
<div class="alert alert-danger" role="alert" ng-show="flagErro">
    <span ng-bind-html="msgErro"></span>
</div>

<!-- Mensagem de Envio de senha recuperada -->
<div class="alert alert-success" role="alert" ng-show="flagSucesso">
    <span ng-bind-html="msgSucesso"></span>
</div>

<!-- Filtros -->
<br />
<form class="form-inline">
    <div class="form-group">
        <label for="filtroNumero">Número</label>
        <br />
        <input id="filtroNumero" class="form-control" ng-model="filtro.numero" type="text" placeholder="Número da Inscrição">
    </div>
    <div class="form-group">
        <label for="filtroNome">Nome</label>
        <br />
        <input id="filtroNome" class="form-control" ng-model="filtro.nome" type="text" placeholder="Nome do Participante">
    </div>
    <div class="form-group">
        <label for="filtroCategoria">Categoria</label>
        <br />
        <select id="filtroCategoria" class="form-control" ng-model="filtro.categoria" >
            <option value="">Categoria</option>
            <option value="1">Sócio SCEPD</option>
            <option value="2">Sócio SBRO</option>
            <option value="3">Profissional (CD)</option>
            <option value="5">Profissional (TPD)</option>
            <option value="4">Acadêmico</option>
            <option value="93">Cortesia CD</option>
            <option value="95">Cortesia TPD</option>
            <option value="94">Cortesia Acadêmico</option>
            <option value="92">Cortesia SBRO</option>
        </select>
    </div>
    <div class="form-group">
        <label for="filtroSituacao">Situação do Pagamento</label>
        <br />
        <select id="filtroSituacao" class="form-control" ng-model="filtro.situacao" >
            <option value="">Situação do Pagamento</option>
            <option value="1">Aguardando pagamento</option>
            <option value="2">Em análise</option>
            <option value="3">Paga</option>
            <option value="4">Disponível</option>
            <option value="5">Em disputa</option>
            <option value="6">Devolvida</option>
            <option value="7">Cancelada</option>
            <option value="8">Debitado</option>
            <option value="9">Retenção temporária</option>
            <option value="99">Sem transaçao efetuada</option>
        </select>
    </div>
    <div class="form-group">
        <label for="filtroFormaPgto">Forma de Pagamento</label>
        <br />
        <select id="filtroFormaPgto" class="form-control" ng-model="filtro.formaPgto" >
            <option value="">Forma de Pagamento</option>
            <option value="1">Cartão de Crédito</option>
            <option value="2">Boleto Bancário</option>
            <option value="8">Dinheiro ou Cheque</option>
            <option value="9">Sem transação de Pagamento</option>
        </select>
    </div>
    <br /><br />
    <div class="form-group">
        <label for="filtroGrupo">Grupo</label>
        <br />
        <input id="filtroGrupo" class="form-control" ng-model="filtro.grupo" type="text" placeholder="Grupo de Participantes">
    </div>
    <div class="form-group">
        <br />
        &nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="cbOcultarGrupos" id="cbOcultarGrupos" ng-true-value=true ng-false-value=false
                                 ng-click="ocultarGrupos();">&nbsp;Ocultar grupos
        &nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="cbOcultarCortesias" id="cbOcultarCortesias" ng-true-value=true ng-false-value=false
                                 ng-click="ocultarCortesias();">&nbsp;Ocultar cortesias
        <input type="hidden" ng-model="filtro.ocultarGrupos" id="filtroOcultarGrupos">
        <input type="hidden" ng-model="filtro.ocultarCortesias" id="filtroOcultarCortesias">
    </div>
</form>
<br />

<p>
    <button class="btn-meeting" ng-click="propertyName = null; reverse = false">Redefinir ordenação</button>
    &nbsp;
    <button class="btn-meeting" ng-click="limparFiltros()">Limpar filtros</button>
    &nbsp;
    <button class="btn-meeting" ng-click="atualizaListaParticipantes()">Atualizar Lista</button>
    &nbsp;
    <button class="btn-meeting" ng-click="toggleCampos()">Oculta/Exibir Colunas</button>
</p>
<hr />
<p class="textoFullLeft">Exibindo <strong>{{resultado.length}}</strong> inscrições de um total de <strong>{{participantes.length}}</strong>.</p>
<div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th ng-if="campo.numero">
                        <a ng-click="sortBy('id')">Número</a>
                        <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-if="campo.nome">
                        <a ng-click="sortBy('nome')">Nome</a>
                        <span class="sortorder" ng-show="propertyName === 'nome'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th ng-if="campo.email">E-mail</th>
                    <th ng-if="campo.categoria">Categoria</th>
                    <th ng-if="campo.grupo">Grupo</th>
                    <th ng-if="campo.acoes">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="participante in participantes | orderBy:propertyName:reverse | filter: ({  id: filtro.numero, nome: filtro.nome, categoria: filtro.categoria, situacao: filtro.situacao, formaPgto: filtro.formaPgto, grupo: filtro.grupo, ocultarGrupos: filtro.ocultarGrupos, ocultarCortesias: filtro.ocultarCortesias}) as resultado">
                    <th scope="row" ng-if="campo.numero">{{participante.id}}</th>
                    <td ng-if="campo.nome">{{participante.nome}}</td>
                    <td ng-if="campo.email">{{participante.email}}</td>
                    <td ng-if="campo.categoria">{{getCategoria(participante.categoria)}}</td>
                    <td ng-if="campo.grupo">
                        <a title="Grupo">
                            <i class="fa fa-users" ng-click="grupo(participante.fbid)"></i>
                        </a>&nbsp;{{getGrupo(participante.grupo)}}</td>
                    <td ng-if="campo.acoes">
                        <a title="Editar Inscrição"><i class="fa  fa-pencil-square-o" ng-click="editarDadosParticipante(participante)"></i></a>

                        <a title="Detalhes da Inscrição"><i class="fa fa-list-ul" ng-click="detalhes(participante.fbid)"></i></a>
                        &nbsp;
                        <a title="Dados de Pagamento"><i class="fa fa-usd {{participante.classeCssPgto}}" ng-click="pagamento(participante.fbid)"></i></a>

                        <img src="{{participante.metodoPgto}}">

                        <span  ng-show="participante.categoria == 1">
                            &nbsp;
                            <i class="fa fa-smile-o sucesso_claro" title="Isento de Pagamento"></i>
                        </span>

                        <span  ng-show="participante.categoria > 90">
                            &nbsp;
                            <i class="fa fa-thumbs-o-up sucesso_claro" title="Cortesia"></i>
                        </span>

                        <span  ng-show="participante.situacao == 2">
                            &nbsp;
                            <i class="fa fa-eye" title="Em Análise"></i>
                        </span>

                        <span  ng-show="participante.situacao == 3 || participante.situacao == 4">
                            &nbsp;
                            <i class="fa fa-check sucesso_claro" title="Inscrição Paga"></i>
                        </span>

                        <span  ng-show="participante.situacao == 1">
                            &nbsp;
                            <i class="fa fa-clock-o" title="Aguardando Pagamento"></i>
                        </span>

                        <span  ng-show="participante.situacao == 5">
                            &nbsp;
                            <i class="fa fa-gavel" title="Em Disputa"></i>
                        </span>

                        <span  ng-show="participante.situacao == 7">
                            &nbsp;
                            <i class="fa fa-trash-o" title="Cancelada"></i>
                        </span>

                        <span  ng-show="participante.situacao == 99 && participante.categoria < 90">
                            <a title="Receber em Espécie ou Cheque">
                                <i class="fa fa-money" ng-click="receberEspecieCheque(participante)"></i></a>
                        </span>

                        <span>
                            <a href="images/certificados/certificado_{{participante.id}}.jpg" target="_blank">
                                <i class="fa fa-file-text-o"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <p ng-show="resultado.length == 0">Nenhuma inscrição para os filtros selecionados.</p>

        <hr />
        <p ng-show="resultado.length > 0">Exibindo <strong>{{resultado.length}}</strong> inscrições de um total de <strong>{{participantes.length}}</strong>.</p>
    </div>
</div>


<!-- Modal Participante - Detalhes-->
<div class="modal fade" id="modalParticipante" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">Dados da Inscrição</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default panel-mee">
                    <div class="panel-body">
                        <p>Número da Inscrição<br /><strong>{{formataIdInscricao(detalhe.id)}}</strong></p>
                        <p>Tipo de Inscrição<br /><strong>{{getTipoInscricao(detalhe.grupo)}}</strong></p>
                        <p>Data de Inscrição<br /><strong>{{detalhe.dataInscricao}}</strong></p>
                    </div>
                </div>
                <div class="panel panel-default panel-mee">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dados do Participante</h3>
                    </div>
                    <div class="panel-body">
                        <p>Nome<br /><strong>{{detalhe.nome}}</strong></p>
                        <p>CPF<br /><strong>{{detalhe.cpf}}</strong></p>
                        <p>E-mail<br /><strong>{{detalhe.email}}</strong></p>
                        <p>Telefone<br /><strong>{{detalhe.telefone}}</strong></p>
                        <p>Categoria<br /><strong>{{getCategoria(detalhe.categoria)}}</strong></p>
                        <p>Endereço<br />
                            <strong>
                                {{detalhe.endereco.logradouroCompleto}}, {{detalhe.endereco.numero}}{{getComplemento(detalhe.endereco.complemento)}}<br>
                                {{detalhe.endereco.bairro}} - {{detalhe.endereco.cidade}} - {{detalhe.endereco.estado}}<br />
                                {{detalhe.endereco.cep}}
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Participante - Pagamento -->
<div class="modal fade" id="modalPagamento" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">Dados de Pagamento da Inscrição</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default panel-mee">
                    <div class="panel-body">

                        <div ng-show="detalhe.categoria == 1">
                            <p><strong>Categoria isenta de pagamento.</strong></p>
                        </div>

                        <div ng-show="detalhe.categoria > 90">
                            <p><strong>Cortesia concedida pela organização.</strong></p>
                            <p>
                                <button class="btn btn-meeting" ng-click="toggleCortesia(detalhe)">
                                    Retirar cortesia
                                </button>
                            </p>
                        </div>

                        <div ng-if="!detalhe.transaction && detalhe.categoria != 1 && detalhe.categoria < 90">
                            <p><strong>Nenhuma Transação identificada.</strong></p>
                            <p>
                                <button class="btn btn-meeting" ng-click="toggleCortesia(detalhe)">
                                    Conceder cortesia
                                </button>
                            </p>
                        </div>

                        <div ng-show="detalhe.transaction">
                            <p ng-show="boletoNaoPago()">
                                <a class="btn btn-meeting" href="{{detalhe.transaction.paymentLink}}" role="button" target="_blank">Abrir Boleto para Impressão</a>
                            </p>
                            <p>Data da transação<br /><strong>{{getDataPagamento(detalhe.transaction.date)}}</strong></p>
                            <p>Método de Pagamento<br /><strong>{{getMetodoTransacao(detalhe.transaction.paymentMethod.type, detalhe.transaction.installmentCount)}}</strong></p>
                            <p>Valor da transação<br /><strong>{{getValorTransacao(detalhe.transaction.grossAmount, participante.transaction.paymentMethod.type)}}</strong></p>
                            <p>Situação da transação<br /><strong>{{getStatusTransacao(detalhe.transaction.status)}}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Incluir participante em Grupo -->
<div class="modal fade" id="modalGrupoParticipante" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">Atualizar o grupo do participante</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default panel-mee">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" id="mes-lbl" for="grupo">Grupo<span class="star">&nbsp;*</span></label>
                                <div class="col-sm-6">
                                    <select ng-options="g as g.nome for g in grupos track by g.fbid"
                                            id="grupo" class="form-control" ng-model="grupoParticipante"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">&nbsp;</label>
                                <div class="col-sm-4">
                                    <button class="btn btn-meeting" ng-click="incluirGrupoParticipante()">
                                        Atualizar grupo
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">&nbsp;</label>
                                <span class="star">&nbsp;*</span> Deixe o grupo em branco para excluir<br />o participante do grupo.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Atualizar Nome e/ou Categoria -->
<div class="modal fade" id="modalEditarParticipante" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">Editar dados do participante</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default panel-mee">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" id="mes-lbl" for="grupo">Nome</label>
                                <div class="col-sm-6">
                                    <input id="nomeParticipante" class="form-control" ng-model="novoNome" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" id="mes-lbl" for="grupo">Categoria</label>
                                <div class="col-sm-6" ng-if="podeEditarCategoria(participanteEditar.situacao)">
                                    <label><input type="radio" name="cat" ng-model="cat" ng-value="1" ng-click="defineCategoria(1)"> Sócios SCEPD</label><br>
                                    <label><input type="radio" name="cat" ng-model="cat" ng-value="2" ng-click="defineCategoria(2)"> Sócios SBRO</label><br>
                                    <label><input type="radio" name="cat" ng-model="cat" ng-value="3" ng-click="defineCategoria(3)"> CD</label><br>
                                    <label><input type="radio" name="cat" ng-model="cat" ng-value="5" ng-click="defineCategoria(5)"> TPD</label><br>
                                    <label><input type="radio" name="cat" ng-model="cat" ng-value="4" ng-click="defineCategoria(4)"> Acadêmico</label>

                                    <input type="hidden" ng-model="novaCategoria">
                                </div>

                                <div class="col-sm-6" ng-if="!podeEditarCategoria(participanteEditar.situacao)">
                                    Não é possível alterar a categoria pois esta inscrição já possui uma transação de pagamento.
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">&nbsp;</label>
                                <div class="col-sm-4">
                                    <button class="btn btn-meeting" ng-click="editarParticipante()">
                                        Atualizar inscrição
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal Incluir transação de pagamento em dinheiro ou cheque -->
<div class="modal fade" id="modalPagamentoDinheiroCheque" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">Receber pagamento em dinheiro ou cheque</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default panel-mee">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" id="mes-lbl" for="grupo">Método de pagamento</label>
                                <div class="col-sm-6">
                                    <label><input type="radio" name="metodo" ng-click="metodoPagtoEspecie = 801"> Dinheiro</label><br />
                                    <label><input type="radio" name="metodo" ng-click="metodoPagtoEspecie = 802"> Cheque</label><br>
                                    <label><input type="radio" name="metodo" ng-click="metodoPagtoEspecie = 803" ng-disabled="!participantePgto.grupo"> Grupo</label>
                                    <input type="hidden" name="metodoPgto" id="metodoPgto" value="0" ng-model="metodoPagtoEspecie">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">&nbsp;</label>
                                <div class="col-sm-4">
                                    <button class="btn btn-meeting" ng-click="incluirTransacaoDinheiroCheque()">
                                        Registrar Pagamento
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal consigurar campos -->
<div class="modal fade" id="modalCampos" tabindex="-1" role="dialog" aria-labelledby="modalAlertaLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="panel-title">Exibir / ocultar campos da lista</h3>
            </div>
            <div class="modal-body">
                <div class="panel panel-default panel-mee">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" id="mes-lbl" for="grupo">Campos:</label>
                                <div class="col-sm-6">
                                    <label><input type="checkbox" name="numero" ng-model="campo.numero"> Número</label><br>
                                    <label><input type="checkbox" name="nome" ng-model="campo.nome"> Nome</label><br>
                                    <label><input type="checkbox" name="email" ng-model="campo.email"> E-mail</label><br>
                                    <label><input type="checkbox" name="categoria" ng-model="campo.categoria"> Categoria</label><br>
                                    <label><input type="checkbox" name="grupo" ng-model="campo.grupo"> Grupo</label><br>
                                    <label><input type="checkbox" name="acoes" ng-model="campo.acoes"> Ações</label><br>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
