<div ng-show="!resultadoBuscaOk">
    <br />
    Buscando Grupos dos quais você é administrador...
</div>

<div ng-if="resultadoBuscaOk && !adminGrupo">
    <div class="alert alert-danger" role="alert">
        <span>Você não é administrador de nenhum grupo de inscrições.</span>
    </div>
</div>

<div ng-if="resultadoBuscaOk && adminGrupo">
    <br />
    <div class="alert alert-success" role="alert">
        <span>Estes são os grupos dos quais você é administrador.</span>
    </div>
    <div ng-repeat="g in gruposParticipante" class="panel panel-default panel-mee">
        <div class="panel-heading">
            <h3 class="panel-title">Grupo <strong>{{g.nome}}</strong></h3>
        </div>
        <div class="panel-body">
            <p>
                <strong>Participantes:</strong>
            </p>
            <div ng-bind-html="participantesGrupo(g.fbid)"></div>
            <br />
            <div ng-if="g.botao">
                <p>
                    <strong>Pagamento do Grupo (site do Pagseguro):</strong>
                </p>
                <div ng-bind-html="g.botao"></div>
            </div>
        </div>
    </div>
</div>
