<div ng-show="!resultadoBuscaOk">
    <span id='facebook' class='marginLeft' ng-show="buscandoCEP">
        <div id='block_1' class='facebook_block'></div>
        <div id='block_2' class='facebook_block'></div>
        <div id='block_3' class='facebook_block'></div>
        <div class='clearfix'></div>
    </span>
    &nbsp;
    Buscando Inscrição do Usuário...
</div>
    
<div ng-show="resultadoBuscaOk && !idInscricaoUsuario">
    <div class="alert alert-danger" role="alert">
        <span>Você ainda não possui uma inscrição efetuada.</span>
    </div>
    <button type="button" class="btn btn-meeting btn-lg" ng-click="efetuarInscricaoIndividual()">Efetuar a minha inscrição</button>
</div>

<div ng-show="resultadoBuscaOk && idInscricaoUsuario">
    <p>&nbsp;</p>
    <p ng-show="boletoNaoPago()">
        <a class="btn btn-meeting" href="{{participante.transaction.paymentLink}}" role="button" target="_blank">Abrir Boleto para Impressão</a>
    </p>
    <div class="panel panel-default panel-mee">
        <div class="panel-heading">
            <h3 class="panel-title">Dados da Inscrição</h3>
        </div>
        <div class="panel-body">
            <p>Número da Inscrição<br /><strong>{{formataIdInscricao(participante.id)}}</strong></p>
            <p>Tipo de Inscrição<br /><strong>{{getTipoInscricao(participante.grupo)}}</strong></p>
            <p>Data de Inscrição<br /><strong>{{participante.dataInscricao}}</strong></p>
        </div>
    </div>
    <div class="panel panel-default panel-mee">
        <div class="panel-heading">
            <h3 class="panel-title">Dados do Participante</h3>
        </div>
        <div class="panel-body">
            <p>Nome<br /><strong>{{participante.nome}}</strong></p>
            <p>CPF<br /><strong>{{participante.cpf}}</strong></p>
            <p>E-mail<br /><strong>{{participante.email}}</strong></p>
            <p>Telefone<br /><strong>{{participante.telefone}}</strong></p>
            <p>Categoria<br /><strong>{{getCategoria(participante.categoria)}}</strong></p>
            <p>Endereço<br />
                <strong>
                    {{participante.endereco.logradouroCompleto}}, {{participante.endereco.numero}}{{getComplemento(participante.endereco.complemento)}}<br>
                    {{participante.endereco.bairro}} - {{participante.endereco.cidade}} - {{participante.endereco.estado}}<br />
                    {{participante.endereco.cep}}
                </strong>
            </p>
        </div>
    </div>
    <div class="panel panel-default panel-mee">
        <div class="panel-heading">
            <h3 class="panel-title">Dados de Pagamento</h3>
        </div>
        <div class="panel-body">

            <div ng-show="participante.categoria == 1">
                <strong>Categoria isenta de pagamento</strong></p>
            </div>

            <div ng-show="participante.categoria > 90">
                <strong>Cortesia</strong></p>
            </div>

            <div ng-show="botaoPagamento">
                <input type="image"
                       src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/205x30-pagar-roxo.gif"
                       ng-click="doPgto()"
                       alt="Pague com PagSeguro - é rápido, grátis e seguro!!!" />
            </div>

            <div ng-if="detalhesTransacao">
                <p>Data da transação<br /><strong>{{getDataPagamento(participante.transaction.date)}}</strong></p>
                <p>Método de Pagamento<br /><strong>{{getMetodoTransacao(participante.transaction.paymentMethod.type, participante.transaction.installmentCount)}}</strong></p>
                <p>Valor da transação<br /><strong>{{getValorTransacao(participante.transaction.grossAmount, participante.transaction.paymentMethod.type)}}</strong></p>
                <p>Situação da transação<br /><strong>{{getStatusTransacao(participante.transaction.status)}}</strong></p>
                <p ng-show="boletoNaoPago()">
                    <a class="btn btn-meeting" href="{{participante.transaction.paymentLink}}" role="button" target="_blank">Abrir Boleto para Impressão</a>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-mee" ng-if="certificado">
        <div class="panel-heading">
            <h3 class="panel-title">Certificado de Participação</h3>
        </div>
        <div class="panel-body">
            <a href="images/certificados/certificado_{{participante.id}}.jpg" target="_blank">
                <img src="images/certificados/certificado_{{participante.id}}.jpg" class="certificado">
            </a>
        </div>
    </div>

</div>
