<div class="art-layout-wrapper">
    <div class="art-content-layout">
        <div class="art-content-layout-row">
            
            <!-- Menu -->
            <div class="art-layout-cell art-sidebar1">
                <h4>Olá <strong>{{usuario.primeiroNome}}</strong>!</h4>
                <button type="button" class="btn btn-meeting btn-mee-out" ng-click="doLogout()">Sair&nbsp;&nbsp;<i class="fa fa-sign-out"></i></button>
                <br><br>
                <img src="images/pagSeguro100_2.jpg" alt="PagSeguro" ng-show="pagamento"/>
                <br><br>
                <span  ng-show="pagamento">
                    <small> Esta compra está sendo<br>feita no <strong>Brasil</strong>.</small>   <img src="images/brazil-flag.png" alt="Brasil" />
                </span>
            </div>
            
            <!-- CONTEÚDO -->
            <div class="art-layout-cell art-content">
                <span ng-show="sandbox">
                    <i class="fa fa-check-square fa-lg"></i>&nbsp;Ambiente de teste
                    <br /><br />
                </span>
                <div>
                    <ul class="nav nav-tabs">
                        <li ui-sref-active="active" role="presentation">
                            <a ui-sref="app.myMeeting.perfil">Meu Perfil</a>
                        </li>
                        <li ui-sref-active="active" role="presentation">
                            <a ui-sref="app.myMeeting.inscricao.minhaInscricao">Minha Inscrição</a>
                        </li>
                        <li ui-sref-active="active" role="presentation">
                            <a ui-sref="app.myMeeting.inscricao.meusGrupos">Meus Grupos</a>
                        </li>
                        <li ui-sref-active="active" role="presentation" ng-show="adminUser">
                            <a ui-sref="app.myMeeting.inscricoesAdm">Inscrições</a>
                        </li>
                        <li ui-sref-active="active" role="presentation" ng-show="adminUser">
                            <a ui-sref="app.myMeeting.gruposAdm">Grupos</a>
                        </li>
                    </ul>
                </div>

                <!-- CONTEÚDO -->
                <div>
                    <ui-view />
                </div>
            </div>
        </div>
    </div>
</div>
