<!-- Mensagem de Erro -->
<div class="alert alert-danger" role="alert" ng-show="flagErro">
    <span ng-bind-html="msgErro"></span>
</div>

<!-- Mensagem de Envio de senha recuperada -->
<div class="alert alert-success" role="alert" ng-show="flagSucesso">
    <span ng-bind-html="msgSucesso"></span>
</div>

<div>
    <p>&nbsp;</p>
    <p>Nome Completo<br /><strong>{{usuario.nome}}</strong></p>
    <p>E-mail<br /><strong>{{usuario.email}}</strong></p>

    <p>Senha<br /><a class="btn btn-default" ng-click="queroAlterarMinhaSenha()">Quero alterar a minha senha.</a></p>
</div>