<h3 class=h3-mee-1>Para efetuar uma nova inscrições ou visualizar a sua inscrição já efetuada você necessita se autenticar no sistema de inscrições:</h3>
<br/>

<!-- Mensagem de Erro -->
<div class="alert alert-danger" role="alert" ng-show="flagErro">
    <span ng-bind-html="msgErro"></span>
</div>

<!-- Mensagem de Envio de senha recuperada -->
<div class="alert alert-success" role="alert" ng-show="flagSucesso">
    <span ng-bind-html="msgSucesso"></span>
</div>

<form method="post"  ng-submit="autenticarUsuario()">
    <!-- Inicio Tela Login -->
    <div>
        <div class="row">
            <div class="panel col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 mee_bg" style="margin-top: 10px">
                <div class="col-md-5 col-lg-5">
                    <div class="col-lg-12 col-md-12 responsive-login-cadastro">
                        <h3 class="h3-mee-1">Primeira vez por aqui?</h3>
                        <button class="btn btn-lg btn-block btn-meeting" ng-click="abrirSignUp()">
                            Cadastre-se&nbsp;&nbsp;<i class="fa fa-sign-in"></i>
                        </button>
                    </div>
                </div>
                <!-- Linha -->
                <div class="col-lg-2 col-md-2 visible-lg visible-md" style="height: 355px;">
                    <div class="vr">
                    </div>
                </div>
                <div class="col-sm-2 col-xs-2 visible-sm visible-xs" style="width: 100%;">
                    <div class="hr col-sm-12 col-xs-12">
                        <hr>
                    </div>
                </div>

                <!-- Login Acesso Portal -->
                <div class="col-md-5 col-lg-5">
                    <!-- <div class="container-fluid"> -->
                    <div class="text-justify">
                        <h3 class="h3-mee-1">Faça seu Login</h6>
                    </div>

                    <div class="form-group {{classeEmail}} has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-2x mee"></i></span>
                            <input type="text" class="form-control input-lg" id="inputEmail" maxlength="50" 
                                   ng-change="validaFormatoEmail()" ng-blur="validaEmail()" ng-focus="fecharMsgEmail()"
                                   placeholder="Email do usuário" ng-model="inputUser" aria-describedby="a-email">
                            <span class="input-group-addon" id="a-email">
                                <span class="fa fa-check sucesso" aria-hidden="true" ng-show="emailValido == 1"></span>
                                <span class="fa fa-times perigo" aria-hidden="true" ng-show="emailValido == 2"></span>
                                <span class="fa" aria-hidden="true" ng-show="emailValido == 0"></span>
                            </span>
                        </div>      
                        <h6 class="msgErro">{{msgEmail}}</h6>
                        <span id="emailStatus" class="sr-only">(error)</span>
                    </div>

                    <div class="form-group {{classeSenha}} has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-unlock-alt fa-2x mee"></i></span>
                            <input type="password" class="form-control input-lg" id="inputPassword" placeholder="Senha do usuário" 
                                   ng-model="inputPassword" ng-change="validaFormatoSenha()" ng-blur="validaSenha()" ng-focus="fecharMsgSenha()"
                                   aria-describedby="a-senha">
                            <span class="input-group-addon" id="a-senha">
                                <span class="fa fa-check sucesso" aria-hidden="true" ng-show="senhaValida == 1"></span>
                                <span class="fa fa-times perigo" aria-hidden="true" ng-show="senhaValida == 2"></span>
                                <span class="fa" aria-hidden="true" ng-show="senhaValida == 0"></span>
                            </span>
                        </div>      
                        <h6 class="msgErro">{{msgSenha}}</h6>
                        <span id="senhaStatus" class="sr-only">(error)</span>
                    </div>

                    <div class="form-group">
                        <div class="input-group col-md-12">

                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-block btn-meeting" ng-disabled="!((emailValido == 1) && (senhaValida == 1))"><i class="fa fa-sign-in"></i> Acessar</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="text-pull-right" style="color: #555555;">
                            Esqueceu a Senha? <a href="#" ng-click="esqueciMinhaSenha()">Clique aqui.</a></p>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</form>    
<!-- Fim Tela Login-->
