<h4>Informe um e-mail válido e uma senha com pelo menos 8 caracteres:</h4>
<br/>

<!-- Mensagem de Erro -->
<div class="alert alert-danger" role="alert" ng-show="flagErro">
    <span ng-bind-html="msgErro"></span>
</div>

<!-- Mensagem de Envio de senha recuperada -->
<div class="alert alert-success" role="alert" ng-show="flagSucesso">
    <span ng-bind-html="msgSucesso"></span>
</div>

<!-- Formulário de login -->
<form name="signUpForm" class="form-horizontal" ng-submit="criarUsuario()">
  <div class="form-group {{classeNome}} has-feedback">
    <label for="inputNome" class="col-sm-2 control-label">Nome Completo</label>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa-2x mee"></i></span>
            <input type="text" class="form-control input-lg" id="inputNome" 
                   ng-change="validaFormatoNome()" ng-blur="validaNome()" ng-focus="fecharMsgNome()"
                   placeholder="Nome Completo do usuário" ng-model="inputNome" aria-describedby="a-nome">
            <span class="input-group-addon" id="a-nome">
                <span class="fa fa-check sucesso" aria-hidden="true" ng-show="nomeValido == 1"></span>
                <span class="fa fa-times perigo" aria-hidden="true" ng-show="nomeValido == 2"></span>
                <span class="fa" aria-hidden="true" ng-show="nomeValido == 0"></span>
            </span>
        </div>      
        <h6 class="msgErro">{{msgNome}}</h6>
        <span id="emailStatus" class="sr-only">(error)</span>
    </div>
  </div>
  <div class="form-group {{classeEmail}} has-feedback">
    <label for="inputEmail" class="col-sm-2 control-label">E-mail</label>
    <div class="col-sm-4">
        <div class="input-group">
             <span class="input-group-addon"><i class="fa fa-envelope   fa-2x mee"></i></span>
            <input type="text" class="form-control input-lg" id="inputEmail" 
                   ng-change="validaFormatoEmail()" ng-blur="validaEmail()" ng-focus="fecharMsgEmail()"
                   placeholder="Email do usuário" ng-model="inputUser" aria-describedby="a-email">
            <span class="input-group-addon" id="a-email">
                <span class="fa fa-check sucesso" aria-hidden="true" ng-show="emailValido == 1"></span>
                <span class="fa fa-times perigo" aria-hidden="true" ng-show="emailValido == 2"></span>
                <span class="fa" aria-hidden="true" ng-show="emailValido == 0"></span>
            </span>
        </div>      
        <h6 class="msgErro">{{msgEmail}}</h6>
        <span id="emailStatus" class="sr-only">(error)</span>
    </div>
  </div>
  <div class="form-group {{classeSenha}} has-feedback">
    <label for="inputPassword" class="col-sm-2 control-label">Senha</label>
    <div class="col-sm-4">

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-unlock-alt fa-2x mee"></i></span>
            <input type="password" class="form-control input-lg" id="inputPassword" placeholder="Senha do usuário" 
                   ng-model="inputPassword" ng-change="validaFormatoSenha()" ng-blur="validaSenha()" ng-focus="fecharMsgSenha()"
                   aria-describedby="a-senha">
            <span class="input-group-addon" id="a-senha">
                <span class="fa fa-check sucesso" aria-hidden="true" ng-show="senhaValida == 1"></span>
                <span class="fa fa-times perigo" aria-hidden="true" ng-show="senhaValida == 2"></span>
                <span class="fa" aria-hidden="true" ng-show="senhaValida == 0"></span>
            </span>
        </div>      
        <h6 class="msgErro">{{msgSenha}}</h6>
        <span id="senhaStatus" class="sr-only">(error)</span>
    </div>
  </div>
  <div class="form-group {{classeSenhaRep}} has-feedback">
    <label for="inputPasswordRep" class="col-sm-2 control-label">Repetir senha</label>
    <div class="col-sm-4">

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-unlock-alt fa-2x mee"></i></span>
            <input type="password" class="form-control input-lg" id="inputPasswordRep" placeholder="Repita a senha do usuário" 
                   ng-model="inputPasswordRep" ng-change="validaFormatoSenhaRep()" ng-blur="validaSenhaRep()" ng-focus="fecharMsgSenhaRep()"
                   aria-describedby="a-senhaRep">
            <span class="input-group-addon" id="a-senhaRep">
                <span class="fa fa-check sucesso" aria-hidden="true" ng-show="senhaRepValida == 1"></span>
                <span class="fa fa-times perigo" aria-hidden="true" ng-show="senhaRepValida == 2"></span>
                <span class="fa" aria-hidden="true" ng-show="senhaRepValida == 0"></span>
            </span>
        </div>      
        <h6 class="msgErro">{{msgSenhaRep}}</h6>
        <span id="senhaStatus" class="sr-only">(error)</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-lg btn-block btn-meeting" ng-disabled="!((nomeValido == 1) && (emailValido == 1) && (senhaValida == 1) && (senhaRepValida == 1))">Criar o novo usuário</button>
    </div>
  </div>
</form>
<button class="btn btn-meeting" ng-click="abrirSignIn()">Voltar</button>


