#art-main
{
    background: #D0CEB4;
    margin: 0 auto;
    font-size: 16px;
    font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    position: relative;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    overflow: hidden;
    color: #1F1F14;
    /* height: 1300px; */
}

.wrapper {
    position:absolute;
    top:50%;
    left:50%;
}

h6.msgErro {
    color: #a94442;
}

h5.msgErro {
    color: #a94442;
}

.pagamento {
    margin: 15px;
}

.inscricaoOK {
    font-size: 16px;
    font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    color: #A00;
}

.dadosUsuario {
    margin-top: 25px;
}

.sucesso {
    color: darkgreen;
}

.sucesso_claro {
    color: #0A0;
}

.perigo {
    color: #A00;
}

.perigo_claro {
    color: darkred;
}

.vr {
    vertical-align: middle;
    height: 100%;
    width: 1px;
    border: 1px solid #333;
    margin: auto;
}

.btn-meeting {
    background-color: #EFB106;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-meeting:hover {
    background-color: #B88805;
    border-color: rgba(0,0,0,0.2);
    color: #fff;
}

.btn-mee-out {
    margin-bottom: 20px;
}

.mee {
    color: #B88805;
}

.mee_bg {
    background-color: #D0CEB4;
    box-shadow: 0 0 0 rgba(0,0,0,.05);
}

i.mee-ml {
    margin-left: 15px;
}

i.mee-mr {
    margin-right: 15px;
}

.pager li>a, .pager li>span {
    background-color: #EFB106;
    border: 0;
}

.panel-mee {
    background-color: #D0CEB4;
    border-color: rgba(0,0,0,0.2);
}

.nav>li.active>a, .nav>li.active>a:focus, .nav>li.active>a:hover {
    color: #fff;
    background-color: #B88805;
}

.nav>li>a, .nav>li>a:focus, .nav>li>a:hover {
    color: #143239;
    border-bottom: 1px solid #B88805;
}

.nav-tabs {
    border-bottom: 1px solid #B88805;
}

.btn-group-mee {
    width: 85%;
}

.imgCard-mee {
    margin: 5px;
}

.h2-mee {
    color: #143239;
    margin: 5px 10px 5px 0;
    font-size: 24px;
    font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    font-variant: small-caps;
}

.h3-mee {
    color: #B88805;
    margin: 10px 0 0;
    font-size: 20px;
    font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
}

.h3-mee-1 {
    font-size: 16px;
    font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    color: #1F1F14;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.textoFullLeft {
    width: 100%;
    text-align: right;
}

.certificado {
    width: 200px;
    height: 155px;
    border: 1px solid #000
}