.clearfix{
	clear:both;
	float:none;
}

/***************************** facebook **********************************/
#facebook{
    display: inline-block;
    vertical-align: bottom;
}
.facebook_block{
	background-color: #000;
	border:2px solid #CCC;
	float:left;
	height:6px;
	margin-left:5px;
	width:9px;
	-webkit-animation-name: bounce;
 	-webkit-animation-duration: 1s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	opacity:0.1;
	-webkit-transform:scale(0.7);
	}
#block_1{
 	-webkit-animation-delay: .3s;
 }
#block_2{
 	-webkit-animation-delay: .4s;
}
#block_3{
 	-webkit-animation-delay: .5s;
}
@-webkit-keyframes bounce{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
}