/* Created by Artisteer v4.3.0.60858 */

#art-main
{
   background: #D0CEB4;
   margin:0 auto;
   font-size: 16px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 16px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #EFB106;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
   height:31px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-postcontent p
{
   margin: 13px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 22px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #21545E;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #21545E;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #2A6C79;
}

.art-postcontent h1
{
   color: #21545E;
   margin: 10px 0 0;
   font-size: 24px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 24px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 24px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2
{
   color: #21545E;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h3
{
   color: #B88805;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.art-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.art-postcontent h4
{
   color: #0D2226;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5
{
   color: #0D2226;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6
{
   color: #183D44;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #1F1F14;
}

.art-header:after, 
#art-header-bg:after, 
.art-layout-cell:after, 
.art-layout-wrapper:after, 
.art-footer:after, 
.art-nav:after, 
#art-hmenu-bg:after, 
.art-sheet:after,
.cleared, 
.clearfix:after 
{
   clear: both;
   display: table;
   content: '';
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.art-object1577736972
{
    display: block;
    left: 50.18%;
    margin-left: -192px;
    position: absolute;
    top: 170px;
    width: 383px;
    height: 19px;
    background-image: url('images/object1577736972.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 11;
}

.default-responsive .art-object1577736972
{
  display: none;
}.art-object667786516
{
    display: block;
    left: 51.09%;
    margin-left: -200px;
    position: absolute;
    top: 145px;
    width: 392px;
    height: 19px;
    background-image: url('images/object667786516.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 12;
}

.default-responsive .art-object667786516
{
  display: none;
}.art-object1883278182
{
    display: block;
    left: 50%;
    margin-left: -146px;
    position: absolute;
    top: 118px;
    width: 292px;
    height: 14px;
    background-image: url('images/object1883278182.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 13;
}

.default-responsive .art-object1883278182
{
  display: none;
}.art-object1211978409
{
    display: block;
    left: 98.69%;
    margin-left: -213px;
    position: absolute;
    top: 65px;
    width: 216px;
    height: 74px;
    background-image: url('images/object1211978409.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 15;
}

.default-responsive .art-object1211978409
{
  display: none;
}.art-object1790035276
{
    display: block;
    left: 50%;
    margin-left: -88px;
    position: absolute;
    top: 95px;
    width: 177px;
    height: 60px;
    background-image: url('images/object1790035276.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 19;
}

.default-responsive .art-object1790035276
{
  display: none;
}.art-object675360060
{
    display: block;
    left: 79.08%;
    margin-left: -115px;
    position: absolute;
    top: 141px;
    width: 146px;
    height: 49px;
    background-image: url('images/object675360060.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 22;
}

.default-responsive .art-object675360060
{
  display: none;
}.art-object1380345593
{
    display: block;
    left: 1.76%;
    margin-left: -2px;
    position: absolute;
    top: 36px;
    width: 141px;
    height: 141px;
    background-image: url('images/object1380345593.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 26;
}

.default-responsive .art-object1380345593
{
  display: none;
}.art-object1287289463
{
    display: block;
    left: 50%;
    margin-left: -44px;
    position: absolute;
    top: 80px;
    width: 89px;
    height: 89px;
    background-image: url('images/object1287289463.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 27;
}

.default-responsive .art-object1287289463
{
  display: none;
}.art-object1548336044
{
    display: block;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    top: 85px;
    width: 80px;
    height: 80px;
    background-image: url('images/object1548336044.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 28;
}

.default-responsive .art-object1548336044
{
  display: none;
}.art-object774691281
{
    display: block;
    left: 49.64%;
    margin-left: -260px;
    position: absolute;
    top: 20px;
    width: 524px;
    height: 115px;
    background-image: url('images/object774691281.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 29;
}

.default-responsive .art-object774691281
{
  display: none;
}.art-object781181879
{
    display: block;
    left: 50%;
    margin-left: -189px;
    position: absolute;
    top: 84px;
    width: 379px;
    height: 83px;
    background-image: url('images/object781181879.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 30;
}

.default-responsive .art-object781181879
{
  display: none;
}.art-object1544567456
{
    display: block;
    left: 95.56%;
    margin-left: -281px;
    position: absolute;
    top: 184px;
    width: 295px;
    height: 65px;
    background-image: url('images/object1544567456.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 31;
}

.default-responsive .art-object1544567456
{
  display: none;
}





.art-header
{
   margin:0 auto;
   background-repeat: no-repeat;
   height: 250px;
   position:relative;
   background-image: url('images/header.jpg');
   background-position: center top;
}

.custom-responsive .art-header
{
   background-image: url('images/header.jpg');
   background-position: center top;
}

.default-responsive .art-header,
.default-responsive #art-header-bg
{
   background-image: url('images/header.jpg');
   background-position: center center;
   background-size: cover;
}

.art-header-inner{
   position: relative;
   min-width: 700px;
   max-width: 1728px;
   width: 90%;
   z-index: auto !important;
   margin: 0 auto;
}

.art-header>.widget 
{
   position:absolute;
   z-index:101;
}

.art-nav
{
   background: #EFB106;
   border-bottom:1px dotted #D0CEB4;
   position: absolute;
   margin: 0;
   bottom:     10px;
   width: 100%;
   z-index: 100;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
}

.art-nav-inner:before 
{
   content:' ';
}

nav.art-nav
{
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.art-nav-inner{
   text-align: center;
   margin:0 auto;
}

.desktop  .art-nav-inner{
   min-width: 700px;
   max-width: 1728px;
   width: 90%;
   padding-left: 0;
   padding-right: 0;
}

.desktop .art-nav
{
   padding-left: 0;
   padding-right: 0;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 12px;
}
ul.art-hmenu>li:first-child {
   margin-left: 6px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 6px;
}

ul.art-hmenu>li>a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 35px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 35px;
   text-align: center;
}

.art-hmenu>li>a, 
.art-hmenu>li>a:link, 
.art-hmenu>li>a:visited, 
.art-hmenu>li>a.active, 
.art-hmenu>li>a:hover
{
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop ul.art-hmenu>li:hover>a {
   color: #000000;
   text-decoration: none;
}

ul.art-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -12px;
   width:12px;
   height: 35px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.art-hmenu>li:first-child:before{
   display:none;
}

ul.art-hmenu li li a
{
   background: #60B6C7;
   background: transparent;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 10px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 1px;
   margin-bottom: 1px;
}

.desktop ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 28px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 28px;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   font-variant: small-caps;
   margin:0;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 28px;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   font-variant: small-caps;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #40A2B5;
   background: transparent;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
}
.art-hmenu ul a:hover
{
   text-decoration: none;
   color: #EFB106;
}

.desktop .art-hmenu ul li:hover>a
{
   color: #EFB106;
}

ul.art-hmenu ul:before
{
   background: #5C9383;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.4);
   border:2px solid rgba(255, 255, 255, 0.9);
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.art-hmenu>li>ul
{
   padding: 17px 37px 37px 37px;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul ul
{
   padding: 37px 37px 37px 20px;
   margin: -37px 0 0 -5px;
}

.desktop ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 37px 37px 37px 20px;
   margin: -37px 0 0 -5px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 37px 20px 37px 37px;
   margin: -37px -5px 0 0;
}

.desktop ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.art-hmenu ul ul:before
{
   border-radius: 3px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 13px;
}

.desktop ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 13px;
}
.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 13px;
   left: 30px;
}

.desktop ul.art-hmenu>li.ext>a
{
   white-space: nowrap;
}

.desktop ul.art-hmenu>li.ext>a:hover,
.desktop ul.art-hmenu>li.ext:hover>a,
.desktop ul.art-hmenu>li.ext:hover>a.active  
{
   background: none;
   /* default padding + border size */
  padding: 3px 20px 0 20px;
   /* margin for shadow */
  margin: -3px -3px 0 -3px;
   overflow: hidden;
   position: relative;
   border: none;
   border-radius: 0;
   box-shadow: none;
   color: #DDEFF3;
}

.desktop ul.art-hmenu>li.ext>a:hover:before,
.desktop ul.art-hmenu>li.ext:hover>a:before,
.desktop ul.art-hmenu>li.ext:hover>a.active:before  
{
   position: absolute;
   content: ' ';
   /* top, right, left - for shadow */
  top: 3px;
   right: 3px;
   left: 3px;
   /* border + shadow */
  bottom: -5px;
   background-color: #5C9383;
   border: 2px Solid rgba(255, 255, 255, 0.9);
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
   z-index: -1;
}

.desktop ul.art-hmenu>li.ext:hover>ul 
{
   padding-top: 5px;
   /* menu bar padding */
  margin-top: 0;
}

.desktop ul.art-hmenu>li.ext:hover>ul:before 
{
   /* border + shadow */
  top: -5px;
   clip: rect(10px, auto, auto, auto);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

ul.art-hmenu>li.ext>.ext-r,
ul.art-hmenu>li.ext>.ext-l,
ul.art-hmenu>li.ext>.ext-m,
ul.art-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.desktop ul.art-hmenu>li.ext>ul 
{
   z-index: 13;
}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
   position: absolute;
   display: block;
   overflow: hidden;
   /* size of radius 
   * if size if 0 we should now generate script 
   * that adds ext-r and ext-m divs
   */
  height: 10px;
   top: 100%;
   padding-top: 5px;
   margin-top: -5px;
/* border width + shadow */}

.desktop ul.art-hmenu>li.ext:hover>.ext-r:before,
.desktop ul.art-hmenu>li.ext:hover>.ext-l:before
{
   position: absolute;
   content: ' ';
   top: 3px;
   /* border + shadow */
  bottom: -5px;
   background-color: #5C9383;
   border: 2px Solid rgba(255, 255, 255, 0.9);
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-r
{
   left: 100%;
   right: auto;
   padding-left: 0;
   margin-left: 0;
   padding-right: 5px;
   margin-right: -5px;
/* only shadow */}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-r:before
{
   right: 3px;
   left: -5px;
   border-top-left-radius: 0;
   border-top-right-radius: 3px;
}

.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
   right: 100%;
   left: auto;
   padding-right: 0;
   margin-right: 0;
   padding-left: 5px;
   margin-left: -5px;
/* only shadow */}

.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-l:before
{
   right: -5px;
   left: 3px;
   border-top-right-radius: 0;
   border-top-left-radius: 3px;
}

.desktop ul.art-hmenu>li.ext:hover>.ext-m, 
.desktop ul.art-hmenu>li.ext:hover>.ext-off 
{
   position: absolute;
   display: block;
   overflow: hidden;
   height: 5px;
   top: 100%;
}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-m 
{
   /* shadow offset */
  left: -3px;
   right: 0;
   /* shadow offset */
  padding-right: 0;
   padding-left: 3px;
}

.desktop ul.art-hmenu>li.ext:hover>.ext-off 
{
   /* shadow offset */
  left: -3px;
   right: -3px;
   /* shadow offset */
  padding-left: 3px;
   padding-right: 3px;
}

.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-m
{
   /* shadow offset */
  right: -3px;
   left: 0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 3px;
}

.desktop ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
   /* shadow offset */
  right: -3px;
   left: -3px;
   /* shadow offset */
  padding-left: 3px;
   padding-right: 3px;
}

.desktop ul.art-hmenu>li.ext:hover>.ext-m:before, 
.desktop ul.art-hmenu>li.ext:hover>.ext-off:before 
{
   position: absolute;
   content: ' ';
   top: -5px;
   bottom: -5px;
   /* shadow offset */
  background-color: #5C9383;
   border: 2px Solid rgba(255, 255, 255, 0.9);
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-m:before
{
   right: -5px;
   left: 3px;
}

.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-m:before
{
   left: -5px;
   right: 3px;
}

.desktop ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
   left: -5px;
   right: -5px
;
}

.art-sheet
{
   background: #DCDAC7;
   background: transparent;
   margin:10px auto 0;
   position:relative;
   cursor:auto;
   width: 90%;
   min-width: 700px;
   max-width: 1728px;
   z-index: auto !important;
}

.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.art-postcontent .art-content-layout
{
   border-collapse: collapse;
}

.art-vmenublock
{
   margin:3px;
}
div.art-vmenublock img
{
   margin: 0;
}

.art-vmenublockheader
{
   padding:10px 0;
   margin:0 auto 7px;
}
.art-vmenublockheader .t,
.art-vmenublockheader .t a,
.art-vmenublockheader .t a:link,
.art-vmenublockheader .t a:visited, 
.art-vmenublockheader .t a:hover
{
   color: #000000;
   font-size: 20px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 10px;
}

.art-vmenublockcontent
{
   margin:0 auto;
}

ul.art-vmenu, ul.art-vmenu ul
{
   list-style: none;
   display: block;
}

ul.art-vmenu, ul.art-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.art-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.art-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.art-vmenu ul.active
{
   display: block;
}

ul.art-vmenu>li>a
{
   padding:0 15px;
   margin:0 auto;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #232216;
   min-height: 30px;
   line-height: 30px;
}
ul.art-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   position:relative;
}

ul.art-vmenu li{
   position:relative;
}

ul.art-vmenu>li
{
   margin-top: 0;
}
ul.art-vmenu>li>ul
{
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}
ul.art-vmenu>li:first-child
{
   margin-top:0;
}

ul.art-vmenu>li>a:before
{
   content:url('images/vmenuitemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu>li>a:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.art-vmenu>li>a.active:before
{
   content:url('images/vmenuactiveitemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu>li>a.active:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.art-vmenu>li>a:hover:before,  ul.art-vmenu>li>a.active:hover:before,  ul.art-vmenu>li:hover>a:before,  ul.art-vmenu>li:hover>a.active:before
{
   content:url('images/vmenuhovereditemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul.art-vmenu>li>a:hover:before, .opera   ul.art-vmenu>li>a.active:hover:before, .opera   ul.art-vmenu>li:hover>a:before, .opera   ul.art-vmenu>li:hover>a.active:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul.art-vmenu>li>a:hover, ul.art-vmenu>li>a.active:hover
{
   padding:0 15px;
   margin:0 auto;
}
ul.art-vmenu>li>a:hover, ul.art-vmenu>li>a.active:hover
{
   text-decoration: none;
}

ul.art-vmenu a:hover, ul.art-vmenu a.active:hover 
{
   color: #C29005;
}

ul.art-vmenu>li>a.active:hover>span.border-top, ul.art-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.art-vmenu>li>a.active
{
   padding:0 15px;
   margin:0 auto;
   text-decoration: none;
   color: #348393;
}

ul.art-vmenu>li>ul:before
{
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.art-vmenu li li a
{
   margin:0 auto;
   position: relative;
}
ul.art-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.art-vmenu li li{
   position: relative;
   margin-top: 0;
}

ul.art-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 22px;
   overflow: visible;
   padding: 0;
   padding-left: 27px;
   padding-right: 27px;
   z-index: 0;
   line-height: 22px;
   color: #232216;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul a:visited, ul.art-vmenu ul a.active:hover, ul.art-vmenu ul a:hover, ul.art-vmenu ul a.active
{
   line-height: 22px;
   color: #232216;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul ul a
{
   padding-left: 54px;
}
ul.art-vmenu ul ul ul a
{
   padding-left: 81px;
}
ul.art-vmenu ul ul ul ul a
{
   padding-left: 108px;
}
ul.art-vmenu ul ul ul ul ul a
{
   padding-left: 135px;
}

ul.art-vmenu ul>li>a:hover, ul.art-vmenu ul>li>a.active:hover
{
   margin:0 auto;
}
ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a.active:hover
{
   text-decoration: none;
   color: #C29005;
}

ul.art-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.art-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.art-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.art-vmenu ul>li>a.active
{
   margin:0 auto;
}
ul.art-vmenu ul a.active, ul.art-vmenu ul a:hover, ul.art-vmenu ul a.active:hover
{
   text-decoration: none;
   color: #348393;
}

.art-block
{
   margin:3px;
}
div.art-block img
{
   border: none;
   margin: 0;
}

.art-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #000000;
   font-size: 20px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.art-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #1F1F14;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #1F1F14;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-blockcontent p
{
   margin: 0 5px;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #21545E;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #7A774D;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #2A6C79;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.art-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .art-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-block li
{
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   color: #2F2E1D;
   margin: 5px 0 0 10px;
}

.art-block ul>li, .art-block ol
{
   padding: 0;
}

.art-block ul>li
{
   padding-left: 12px;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #000000;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 31px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea, a.art-search-button span
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
   -webkit-appearance: none;
}

.art-button.active, .art-button.active:hover
{
   background: #477164;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #E9E9DC !important;
}

.art-button.hover, .art-button:hover
{
   background: #B88805;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border-width: 0;
   padding:0 20px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #FCE092 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
    /*
   background: #DCDAC7;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:2px solid #C0BE9B;
   margin:0 auto;
    */
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="range"], input[type="tel"], input[type="time"], input[type="week"], textarea
{
   width: auto;
   /* padding: 8px 0; */
   color: #232216 !important;
   font-size: 16px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.art-error, textarea.art-error
{
   background: #DCDAC7;
   border:1px solid #C31818;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #232216 !important;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #DCDAC7;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:2px solid #C0BE9B;
   margin:0 auto;
   width: 100%;
   padding: 8px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #232216 !important;
   font-size: 16px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input, a.art-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.art-search>input, a.art-search-button{
   bottom:0;
   left:0;
   vertical-align: middle;
}

form.art-search input[type="submit"], input.art-search-button, a.art-search-button
{
   border-radius: 0;
   margin:0 auto;
}
form.art-search input[type="submit"], input.art-search-button, a.art-search-button {
   position:absolute;
   left:auto;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
   color: #D5ECF0 !important;
   cursor: pointer;
}

a.art-search-button span.art-search-button-text {
   display: none;
}

label.art-checkbox:before
{
   background: #EFB106;
   background: -webkit-linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   background: -moz-linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   background: -o-linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   background: -ms-linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   -svg-background: linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   background: linear-gradient(to bottom, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
   vertical-align: top;
   content: ' ';
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 16px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #1F1F14 !important;
   position: relative;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #477164;
   background: -webkit-linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   background: -moz-linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   background: -o-linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   background: -ms-linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   -svg-background: linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   background: linear-gradient(to bottom, #5A9080 0, #314E46 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #B88805;
   background: -webkit-linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   background: -moz-linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   background: -o-linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   background: -ms-linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   -svg-background: linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   background: linear-gradient(to bottom, #EAAD06 0, #816003 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #EFB106;
   background: -webkit-linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   background: -moz-linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   background: -o-linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   background: -ms-linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   -svg-background: linear-gradient(top, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   background: linear-gradient(to bottom, #FAC32E 0, #F9B806 40%, #BD8C05 100%) no-repeat;
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
   vertical-align: top;
   content: ' ';
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 16px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-indent: 0;
   line-height: 16px;
   display: inline-block;
   color: #1F1F14 !important;
   position: relative;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #477164;
   background: -webkit-linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   background: -moz-linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   background: -o-linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   background: -ms-linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   -svg-background: linear-gradient(top, #5A9080 0, #314E46 100%) no-repeat;
   background: linear-gradient(to bottom, #5A9080 0, #314E46 100%) no-repeat;
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #B88805;
   background: -webkit-linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   background: -moz-linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   background: -o-linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   background: -ms-linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   -svg-background: linear-gradient(top, #EAAD06 0, #816003 100%) no-repeat;
   background: linear-gradient(to bottom, #EAAD06 0, #816003 100%) no-repeat;
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.4);
   border-width: 0;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton input[type="radio"]
{
   display: none;
}

label.art-radiobutton.art-checked:after
{
   content: url('images/radiobuttonicon.png');
   position: absolute;
   line-height: 12px;
   left: 2px;
   top: 2px;
}

label.art-checkbox input[type="checkbox"]
{
   display: none;
}

label.art-checkbox.art-checked:after
{
   content: url('images/checkboxicon.png');
   position: absolute;
   left: 0;
   top: 0;
}

.art-comments
{
   border-top:1px dotted #D0CEB4;
   margin:0 auto;
   margin-top: 25px;
}

.art-comments h2
{
   color: #1F1F14;
}

.art-comment-inner
{
   background: #EBEBE0;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.4);
   box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.4);
   padding:5px;
   margin:0 auto;
   margin-left: 96px;
}
.art-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:2px;
   background:#fff;
   border:1px solid #B0AD82;
}

.art-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.art-comment-content
{
   padding:10px 0;
   color: #2C2B1B;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-comment
{
   margin-top: 6px;
}

.art-comment:first-child
{
   margin-top: 0;
}

.art-comment-header
{
   color: #2C2B1B;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.art-comment-header a, 
.art-comment-header a:link, 
.art-comment-header a:visited,
.art-comment-header a.visited,
.art-comment-header a:hover,
.art-comment-header a.hovered
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.art-comment-header a, .art-comment-header a:link
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   color: #1C474F;
}

.art-comment-header a:visited, .art-comment-header a.visited
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #424029;
}

.art-comment-header a:hover,  .art-comment-header a.hovered
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #255E6A;
}

.art-comment-content a, 
.art-comment-content a:link, 
.art-comment-content a:visited,
.art-comment-content a.visited,
.art-comment-content a:hover,
.art-comment-content a.hovered
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-comment-content a, .art-comment-content a:link
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #1C474F;
}

.art-comment-content a:visited, .art-comment-content a.visited
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #424029;
}

.art-comment-content a:hover,  .art-comment-content a.hovered
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #255E6A;
}

.art-pager
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:6px;
   margin:2px;
}

.art-pager>*:last-child
{
   margin-right:0 !important;
}

.art-pager>span {
   cursor:default;
}

.art-pager>*
{
   background: #EFB106;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:10px;
   margin:0 4px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.art-pager a:link,
.art-pager a:visited,
.art-pager .active
{
   line-height: normal;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #16150E
;
}

.art-pager .active
{
   background: #477164;
   padding:10px;
   margin:0 4px 0 auto;
   color: #E2E0D0
;
}

.art-pager .more
{
   background: #FAC533;
   margin:0 4px 0 auto;
}
.art-pager a.more:link,
.art-pager a.more:visited
{
   color: #16150E
;
}
.art-pager a:hover
{
   background: #B88805;
   padding:10px;
   margin:0 4px 0 auto;
}
.art-pager  a:hover,
.art-pager  a.more:hover
{
   text-decoration: none;
   color: #E4E2D3
;
}
.art-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.art-pager>*:last-child:after{
   display:none;
}

.art-commentsform
{
   background: #EBEBE0;
   -webkit-box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.4);
   -moz-box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.4);
   box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.4);
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #1F1F14;
}

.art-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #1F1F14;
}

.art-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.art-commentsform input:not([type=submit]), .art-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.art-commentsform .form-submit
{
   margin-top: 10px;
}
.art-post
{
   padding:5px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   margin: 15px 15px 15px 15px;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 15px 15px 15px 15px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postheader
{
   color: #143239;
   margin: 5px 10px 5px 0;
   font-size: 24px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   font-variant: small-caps;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 24px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   font-variant: small-caps;
}

.art-postheader a, .art-postheader a:link
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #21545E;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #21545E;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #2A6C79;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #2F2E1D;
}

.art-postheadericons
{
   padding: 1px;
   margin: 0 0 0 10px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1B434B;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #245B66;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #081417;
}

.art-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postauthoricon:before
{
   content:url('images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postediticon:before
{
   content:url('images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #2F2E1D;
   margin: 3px 0 0 11px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 20px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -20px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 11px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 3px 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #B0AD82 url('images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #232216;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #232216;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.Sorter img
{
   border:0;
   vertical-align:middle;
   padding:0;
   margin:0;
   position:static;
   z-index:1;
   width: 12px;
   height: 6px;
}

.Sorter a
{
   position:relative;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #245B66;
}

.Sorter a:link
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #245B66;
}

.Sorter a:visited, .Sorter a.visited
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #245B66;
}

.Sorter a:hover, .Sorter a.hover
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #1B434B;
}

.Sorter
{
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color:#143239;
}

.art-footer
{
   background: #EDEDE3;
   border-top:1px dotted #D0CEB4;
   margin:20px auto 0;
   position: relative;
   color: #2C2B1B;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
   padding: 0;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #2C2B1B;
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.art-footer p 
{
   padding:0;
   text-align: center;
}

.art-footer a,
.art-footer a:link
{
   color: #908D5A;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:visited
{
   color: #A9A575;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer a:hover
{
   color: #3D9BAE;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer h1
{
   color: #40A2B5;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h2
{
   color: #60B6C7;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h3
{
   color: #B0AD82;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h4
{
   color: #32808F;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h5
{
   color: #32808F;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer h6
{
   color: #32808F;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-footer img
{
   border: none;
   margin: 0;
}

.art-footer-inner
{
   margin: 0 auto;
   min-width: 700px;
   max-width: 1728px;
   width:90%;
   padding:25px;
   padding-right: 25px;
   padding-left: 25px;
}

.art-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-rss-tag-icon:empty
{
   vertical-align: middle;
}

.art-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.art-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.art-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.art-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.art-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.art-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.art-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.art-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.art-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .art-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-footer li
{
   font-size: 13px;
   font-family: Lato, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #424029;
}

.art-footer ul>li, .art-footer ol
{
   padding: 0;
}

.art-footer ul>li
{
   padding-left: 13px;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #368A9B;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #615F3D;
}

.art-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.art-lightbox,
.art-lightbox-wrapper .art-lightbox-image
{
   cursor: pointer;
}

.art-lightbox-wrapper .art-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.art-lightbox-wrapper .art-lightbox-image.active
{
   display: inline-block;
}

.art-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.art-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.art-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.art-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.art-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.art-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.art-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.art-lightbox-wrapper .arrow-t, 
.art-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.art-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.art-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.art-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.art-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.art-lightbox-wrapper .close .cw, 
.art-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.art-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.art-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.art-lightbox-wrapper .close-alt, 
.art-lightbox-wrapper .arrow-right-alt, 
.art-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .art-lightbox-wrapper .close-alt, 
.ie8 .art-lightbox-wrapper .arrow-right-alt, 
.ie8 .art-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .art-lightbox-wrapper .cw, 
.ie8 .art-lightbox-wrapper .ccw 
{
   display: none;
}

.art-content-layout .art-sidebar1
{
   border-right:1px dotted #D0CEB4;
   margin:0 auto;
   width: 200px;
}

.art-content-layout .art-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */
.imgBorda {
border: 2px solid #000;
}

.responsive .art-nav .art-menu-btn { 
content: "Menu"; 
} 

.art-nav .art-menu-btn { 
background: linear-gradient(to bottom, #3e8991 0px, #286779 100%) transparent !important; 
font-size: 10px; 
margin-right: 20px !important; 
width: 25px !important; 
} 

#blockrandom {
background-color: #D0CEB4;
}
/* End Additional CSS Styles */
