<div class="row">
    <div class="col-md-4">
        <p>Data da transação<br /><strong>{{getDataPagamento(participante.transaction.date)}}</strong></p>
        <p>Método de Pagamento<br /><strong>{{getMetodoTransacao(participante.transaction.paymentMethod.type)}}</strong></p>
        <p>Valor da transação<br /><strong>{{getValorTransacao(participante.transaction.grossAmount, participante.transaction.paymentMethod.type)}}</strong></p>
        <p>Situação da transação<br /><strong>{{getStatusTransacao(participante.transaction.status)}}</strong></p>
    </div>
    <div class="col-md-4" ng-show="!participante.pago">
        <a class="btn btn-meeting" href="{{participante.transaction.paymentLink}}" role="button" target="_blank">Abrir Boleto para Impressão</a>
    </div>
</div>