    <h3>Pagamento da Inscrição Nº: {{participante.id}}</h3>
Nome do Participante: <strong>{{participante.nome}}</strong><br />
Valor da Inscrição: <strong>R$ {{valorInscricao}}<span ng-show="pagamentoMeio==0"> + R$1,00 (taxa de boleto Pagseguro)</span></strong>

<hr>
<h4>Como você deseja efetuar o pagamento?</h4>

<div class="radio" ng-if="false">
    <label>
        <input type="radio"
               name="meiosPagto"
               id="meiosPagtoBoleto"
               ng-value="0"
               ng-model="pagamentoMeio">
        Boleto Bancário
    </label>
</div>
<div class="radio">
    <label>
        <input type="radio"
               name="meiosPagto"
               id="meiosPagtoCredito"
               ng-value="1"
               ng-model="pagamentoMeio">
        Cartão de Crédito <small>(<a data-toggle="modal" data-target="#modalCredito">Cartões de crédito aceitos</a>)</small>
    </label>
</div>
<div class="radio" ng-show="false">
    <label>
        <input type="radio"
               name="meiosPagto"
               id="meiosPagtoDebito"
               ng-value="2"
               ng-model="pagamentoMeio">
        Cartão de Débito <small>(<a data-toggle="modal" data-target="#modalDebito">Cartões de débito aceitos</a>)</small>
    </label>
</div>
<hr>

<button class="btn btn-meeting pull-left" ng-click="abreDadosPagamento(pagamentoMeio)">Avançar<i class="fa fa-chevron-right mee-ml"></i></button>

<!-- Modal Crédito-->
<div class="modal fade" id="modalCredito" tabindex="-1" role="dialog" aria-labelledby="modalCreditoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalCreditoLabel">Cartões de Crédito Aceitos</h4>
            </div>
            <div class="modal-body">
                <span  ng-repeat="cartao in credito.options">
                    <img class="imgCard-mee" title="{{cartao.displayName}}"
                         src="https://stc.pagseguro.uol.com.br{{cartao.images.MEDIUM.path}}"
                         ng-show="cartao.status == 'AVAILABLE'"/>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Modal Débito-->
<div class="modal fade" id="modalDebito" tabindex="-1" role="dialog" aria-labelledby="modalDebitoLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalDebitoLabel">Cartões de Débito Aceitos</h4>
            </div>
            <div class="modal-body">
                <span  ng-repeat="cartao in debito.options">
                    <img  class="imgCard-mee" title="{{cartao.displayName}}"
                          src="https://stc.pagseguro.uol.com.br{{cartao.images.MEDIUM.path}}"
                          ng-show="cartao.status == 'AVAILABLE'" />
                </span>
            </div>
        </div>
    </div>
</div>
