    <h3>Dados do Cartão de Crédito</h3>
    <form class="form-horizontal">
        <div class="form-group {{classeNome}} has-feedback">
            <label class="control-label col-sm-2" id="nome-lbl" for="nome">Nome do titular<span class="star">&nbsp;*</span></label>
            <div class="col-sm-4">
                <input type="text" class="form-control input-lg" id="nome" placeholder="Nome como é apresentado no cartão" size="50"
                       ng-model="dadosCartao.nome" ng-focus="resetMsg('nome')">
                <h6 class="msgErro">{{msgNome}}</h6>
                <span id="nomeStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeCPF}} has-feedback">
            <label class="control-label col-sm-2" id="nome-lbl" for="cpf">CPF do Titular<span class="star">&nbsp;*</span></label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" id="cpf" placeholder="CPF do titular" size="15" maxlength="14"
                           ng-model="dadosCartao.cpf" ng-keyup="verificaCPF()" ng-blur="verificaCPF()" ng-focus="resetMsg('cpf')"
                           cpf-mask aria-describedby="a-cpf">
                    <span class="input-group-addon" id="a-cpf">
                        <span class="fa fa-check sucesso" aria-hidden="true" ng-show="cpfValido == 1"></span>
                        <span class="fa fa-times perigo" aria-hidden="true" ng-show="cpfValido == 2"></span>
                        <span class="fa" aria-hidden="true" ng-show="cpfValido == 0"></span>
                    </span>
                </div>
                <h6 class="msgErro">{{msgCPF}}</h6>
                <span id="cpfStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeNumero}} has-feedback">
            <label class="control-label col-sm-2" id="email-lbl" for="email">Número do Cartão<span class="star">&nbsp;*</span></label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" id="email" placeholder="Número do cartão" size="16"  ng-focus="resetMsg('numero')"
                           ng-model="dadosCartao.numero" aria-describedby="a-numero" ng-keyup="verificaBrand()" maxlength="16">
                    <span class="input-group-addon" id="a-numero" ng-show="dadosCartao.numero.length >= 6 && cardOk"><img src="https://stc.pagseguro.uol.com.br/public/img/payment-methods-flags/42x20/{{bandeira.brand.name}}.png" /></span>
                    <span class="input-group-addon" id="a-numero" ng-show="dadosCartao.numero.length < 6"><img src="{{urlImg}}a-cartao42x20.png" /></span>
                    <span class="input-group-addon" id="a-numero" ng-show="dadosCartao.numero.length >= 6 && !cardOk"><img src="{{urlImg}}a-cartao42x20x.png" /></span>
                </div>
                <h6 class="msgErro">{{msgNumero}}</h6>
                <span id="numeroStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeCVV}} has-feedback" ng-show="bandeira">
            <label class="control-label col-sm-2" id="numero-lbl" for="cvv">Código de Segurança<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" id="cvv" ng-model="dadosCartao.cvv" ng-keyup="controlaTamanhoCvv(bandeira.cvvSize)"
                           ng-focus="resetMsg('cvv')"/>
                    <span class="input-group-addon" id="a-cvv" ng-show="bandeira"><img src="{{urlImg}}a-cartao42x20cvv.png" /></span>
                </div>
                <h6 class="msgErro">{{msgCVV}}</h6>
                <span id="cvvStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeValidade}} has-feedback">
            <label class="control-label col-sm-2" id="mes-lbl" for="nome">Validade do Cartão<span class="star">&nbsp;*</span></label>
            <div class="col-sm-2">
                <select class="form-control" ng-model="dadosCartao.mes">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <h6 class="msgErro">{{msgMes}}</h6>
                <span id="mesStatus" class="sr-only">(error)</span>
            </div>
            <div class="col-sm-2">
                <select class="form-control" ng-model="dadosCartao.ano">
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select>
                <h6 class="msgErro">{{msgAno}}</h6>
                <span id="anoStatus" class="sr-only">(error)</span>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" id="mes-lbl" for="nome">Parcelas<span class="star">&nbsp;*</span></label>
            <div class="col-sm-2">
                <select class="form-control" ng-model="dadosCartao.parcelas">
                    <option value="1" selected>{{labelOptionParcela(1)}}</option>
                    <option value="2">{{labelOptionParcela(2)}}</option>
                    <option value="3">{{labelOptionParcela(3)}}</option>
                    <option value="4">{{labelOptionParcela(4)}}</option>
                    <option value="5">{{labelOptionParcela(5)}}</option>
                </select>
            </div>
        </div>


        <div class="form-group {{classeTelefone}} has-feedback">
            <label class="control-label col-sm-2" id="telefone-lbl" for="telefone">Telefone do titular<span class="star">&nbsp;*</span></label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" id="telefone" placeholder="Telefone do titular" size="15"
                           ng-model="dadosCartao.telefone"  ng-keyup="validaTelefone()" ng-focus="resetMsg('fone')"
                           phone-mask aria-describedby="a-tel">
                    <span class="input-group-addon" id="a-tel">
                        <span class="fa fa-check sucesso" aria-hidden="true" ng-show="telefoneValido == 1"></span>
                        <span class="fa fa-times perigo" aria-hidden="true" ng-show="telefoneValido == 2"></span>
                        <span class="fa" aria-hidden="true" ng-show="telefoneValido == 0"></span>
                    </span>
                </div>
                <h6 class="msgErro">{{msgTelefone}}</h6>
                <span id="telefoneStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group {{classeNascimento}} has-feedback">
            <label class="control-label col-sm-2" id="nascimento-lbl" for="nascimento">Data de Nascimento do titular<span class="star">&nbsp;*</span></label>
            <div  class="col-sm-3">
                <input type="date" class="form-control input-lg" id="nascimento" ng-model="dadosCartao.nascimento">
                <h6 class="msgErro">{{msgNascimento}}</h6>
                <span id="nascimentoStatus" class="sr-only">(error)</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">&nbsp;</label>
            <div class="col-sm-2">
                <button class="btn btn-meeting" ng-click="enviarPagamento()">
                    Concluir o pagamento
                </button>
            </div>
        </div>
    </form>
